<div class="faseUno">
  <h2 id="texto1">La primera fase del desarrollo de una vacuna es la "Fase preclínica"</h2>
  <p id="texto2">Los estudios preclínicos usan sistemas de
    cultivos de tejidos o cultivos de células y pruebas en animales, que pueden ser ratones o monos,
    para evaluar la seguridad de la vacuna candidata y su capacidad imunógena, o capacidad de
    provocar una respuesta inmunológica.</p>
  <h3 id="texto3">¡Debes encontrar el articulo secreto escrito por la Dr. Bulli sobre la incubación del virus, con ello podremos comprender el origen del virus y que
    lo provoco, para así empezar la fase preclínica!
  </h3>
</div>

<ul id="corre" class="movimientoTexto hidden">
  <li>C</li>
  <li>O</li>
  <li>R</li>
  <li>R</li>
  <li>E</li>
</ul>
<div class="box2"></div>
