<div class="container">
  <div><h1>¿Sabes cómo se crea una vacuna?</h1></div>
  <div class="container"><h3>El desarrollo de una vacuna es un proceso largo y complejo que puede tardar varios años
    dependiendo del tipo de vacuna y la enfermedad que se quiera prevenir o controlar.</h3>
  </div>
  <div>
      <h2>¡Descúbrelo  y ayuda a {{nameUser}} en esta Aventura!</h2>
    <div class="icon">
      <a class="arrow" routerLink="/historytwo"><i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
<div class="box2"></div>
