
<body>
<div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card1"></div>
      <div class="atras">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit, aspernatur!</p>
      </div>
    </div>
  </div>
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card2"></div>
      <div class="atras">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit, aspernatur!</p>
      </div>
    </div>
  </div>
</div>
</body>
