<body>
<div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card1">
        <h2 class="nombre">Santiago Agudelo</h2>
      </div>
      <div class="atras">
        <p> Estudiante de Ingeniería de Software 6°, 19 años, desarrollador full stack, apasionado por las mujeres rubias, blancas y delgadas, amante del downhill y futuro empresario millonario del país </p>
      </div>
    </div>
  </div>
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card2">
        <h2 class="nombre andres">Andres Melo</h2>
      </div>
      <div class="atras">
        <p> Desarrollador de 19 años, nació el 12 de agosto del 2001, graduado de técnico en desarrollo de software, cursando la carrera profesional de ingeniería en software </p>
      </div>
    </div>
  </div>
</div>
</body>
