
<body>
<div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card1">
        <h2></h2>
      </div>
      <div class="atras">
        <p>Estudiante de Ingeniería de Software 6°, 19 anos, desarrollador full stack, apasionado por las mujeres rubias, blancas y delgadas, amante del downhill y futuro empresario millonario del país.</p>
      </div>
    </div>
  </div>
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante card2"></div>
      <div class="atras">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex velit beatae. Illum, suscipit, aspernatur!</p>
      </div>
    </div>
  </div>
</div>
</body>
