#volver{
    font-size: 4rem;
    height: auto;
}
.iconBack{
    position: absolute;
    height: auto;
    margin-left: 2rem;
    top: 5px;       
}

.trash{
    font-size: 1rem;
    cursor: pointer;
}
#trashIcon{
    margin-top: 10px;
    color: red;
}