<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="d-flex justify-content-around">
      <div>
        <a class="contac" routerLink=""><i class="fas fa-phone iconos center"></i></a>
        <h6 class="numero">+57 312 000 0000 </h6>
      </div>
      <div>
        <a class="contac" routerLink=""><i  class="far fa-envelope iconos"></i></a>
        <h6 class="numero">+57 312 000 0000 </h6>
      </div>
    </div>
  </div>
  <div id="foter" class="footer-copyright text-center py-3">
    © 2020 Copyright || Santiago Agudelo & Felipe Melo
  </div>
</footer>
