<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <img id="logo" src="assets/img/logoTo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-success" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">Login</button>
    </form>
  </div>
</nav>

<!-- Content -->

<div  class="d-flex justify-content-around">
  <img id="fondo" src="assets/img/Personajes.png">
</div>

<div>
  <section></section>

</div>

<!-- fotter -->

<footer>
  <div class="container">

  </div>
  <div class="d-flex justify-content-around">
    <div>
      <a routerLink=""><i class="fas fa-phone iconos"></i></a>
      <h6 class="numero">+57 312 000 0000 </h6>
    </div>
    <div>
      <a routerLink=""><i class="far fa-envelope iconos"></i></a>
      <h6 class="numero">+57 312 000 0000 </h6>
    </div>

  </div>
  <div>
    <a routerLink="" class="redesSociales iconos"><i class="fab fa-twitter"></i></a>
    <a routerLink="" class="redesSociales iconos"><i class="fab fa-facebook-f"></i></a>
    <a routerLink="" class="redesSociales iconos"><i class="fab fa-instagram"></i></a>
  </div>

</footer>
