
<div class="box">
  <div class="container">
    <h2>RunCovidRun</h2>
    <p>
      Run Covid Run es un video juego web, el cual fue creado con la misión de dar al usuario un conocimiento desde un enfoque divertido de como es el proceso, para la creación y aprobación de una vacuna.
    </p>
    <p>
      El video juego es de tipo 2D, en cual se topara con distintos modos de juego, como: tipo runner, tipo plataforma y destroy Boss. Descubrirá nuevos mapas y una historia con el personaje principal.
    </p>
  </div>

</div>


